
@{
    ViewBag.Title = "测试分页";
}
@section css{
    
    }
@section js{
<script type="text/javascript" src="~/js/libs/vue/vue.js"></script>
    }
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Age</th>
            <th>Time</th>
            <th>Operate</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for></tr>
    </tbody>
</table>

